:root {
    --linen: #fcf5ef;
    --orange: #fea735;
    --dark-orange: #fe7235;
    --blue: #00c3ff;
    --aqua: #94eac6;
    --mid-aqua: #66ddaa;
    --dark-aqua: #28bb94;
    --gray: #3e3e42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    background-color: var(--linen);
    overflow-x: hidden;
}

.dark {
    background-color: #222;
    /* scrollbar-color: #222 #555; */
    color-scheme: dark;
}

.dark p, .dark h2 {
    color: white;
}

.dark nav > :first-child {
    background-color: white;
}

*::-webkit-scrollbar-track {
    background: #222;
}

*::-webkit-scrollbar-thumb {
    background: #555;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: 10px;
    gap: 10px;
}

nav > div {
    border-radius: 50%;
    padding: 16px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

nav > :first-child {
    background-color: var(--orange);
}

nav > :last-child {
    background-color: var(--mid-aqua);
    transition: border-radius 0.25s ease

}

nav i {
    display: block;
    text-align: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

nav > :last-child:hover {
    border-radius: 50% 50% 0 0;
}

nav > :last-child:hover > ul {
    scale: 1;
    opacity: 1;
}

nav ul {
    transition: scale 0.25s ease, opacity 0.25s ease;
    transform-origin: top right;
    scale: 0;
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: var(--mid-aqua);
    list-style: none;
    border-radius: 16px 0 16px 16px;
    overflow: hidden;
    width: 250px;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
}

nav ul li a:hover {
    background-color: var(--dark-aqua);
}

footer {
    width: 100%;
    background-color: var(--dark-aqua);

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.footer-content > p:first-of-type {
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.footer-content > p {
    color: black !important;
    font-size: 14px;
    width: 100%;
}

footer a {
    color: #054e64;
}

footer a:hover {
    text-decoration: underline;
}


.hero {
    height: 100vh;
    width: 100%;
    border: none;
}

#empty-fox, #full-fox {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
}

/* Failsafes in case image doesn't load */
#empty-fox {
    background-color: var(--orange);
}

#full-fox {
    background-color: var(--dark-orange);
}

.hero-content {
    position: absolute;
    width: 100%;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

.hero-content h1 {
    font-size: 60px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-content h3 {
    font-size: 50px;
    width: 100%;

    font-family: "Source Code Pro", monospace;
}

.hero-content.full-content {
    color: white;
    clip-path: inset(0 100% 0 0)

}

.hero-content.empty-content {
    color: black;
}



.hero a, button {
    all: unset;
    display: block;
    text-align: center;
    background-color: var(--aqua);
    border: 5px solid black;
    box-shadow: 0 5px 0px black;
    padding: 20px 40px;
    max-width: 150px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    pointer-events: auto;
    
    transition: translate 0.25s ease, box-shadow 0.25s ease, background-color 0.1s ease;
}

.hero a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
}

.hero a:hover, button:hover {
    box-shadow: none;
    translate: 0 5px;
}

.hero a:active, button:active {
    background: var(--dark-aqua)
}

.hero .hero-footer {
    position: absolute;
    display: block;
    left: 50%;
    translate: -50% 0;
    bottom: 0;
}

main > section {
    padding: 0 5px;
    width: min(1200px, 100%);
    margin: 50px auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
}

.p-group {
    text-align: center;
    font-size: 26px;
    margin-bottom: 100px;
    padding: 0 10px;
}

.p-group p:last-of-type {
    margin-top: 50px;
}

#guide, #random-fox {
    gap: 60px;
    margin: 100px auto;
}

.fox-content {
    display: flex;
    flex-direction: column;

}

.code {
    background-color: var(--gray) !important;
    font-family: "Source Code Pro", monospace;
    color: #ccc;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0 5px 0 black;
    letter-spacing: 3px;
    margin: 0 auto;
    padding-right: 100px;

}

.code-type p {
    overflow: hidden;
    white-space: nowrap; 
}

.fox-content .fox-image {
    width: 100%;
    background-image: url(../img/blob2.svg);
    background-repeat: no-repeat;
    background-position: 50%;

}

.fox-image img.fox {
    object-fit: cover;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    border: 25px solid white;
    border-bottom: 75px solid white;
    outline: 5px solid black;
    box-shadow: 0 5px 0 black;
    rotate: 5deg;

    display: block;
    margin: 0 auto;
    opacity: 0;

}

.show-fox-img {
    animation: fade-in 0.75s ease-out 0.75s forwards;
}

.show-top-code-type {
    animation: typing 1.5s steps(40, end)
}


@keyframes typing {
    from { clip-path: inset(0 100% 0 0)}
    to { clip-path: inset(0 100% 0 100%)}
}
@keyframes fade-in {
    from {
        translate: 0 30px;
        opacity: 0;
    }   to {
        translate: 0;
        opacity: 1;
    }
}

.code span {
    color: white;
}

.code p::before {
    content: "> ";
    color: #ccc;

}

span.w {
    color: var(--orange);
}

span.h {
    color: var(--dark-orange);
}

span.n {
    color: var(--dark-aqua);
}


span.c {
    color: var(--blue);
}

span.t {
    color: var(--aqua);
}

span.x {
    color: hotpink;
}


.code-placeholder {
    color: var(--gray) !important;
}

.guide-array {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;

}

.guide-array > .guide-card {
    flex: 1;
    border: 5px solid black;
    box-shadow: 5px 5px 0 black;
    border-radius: 16px;
}

.guide-card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.guide-card .code {
    border: none;
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding-right: 20px;
    position: absolute;
    top: 0;
}

.guide-card .code p {
    color: #6f6f6f !important;
}

.guide-array > div:nth-of-type(1) {
    background-color: var(--orange);
}   
.guide-array > div:nth-of-type(2) {
    background-color: var(--aqua);
}   
.guide-array > div:nth-of-type(3) {
    background-color: var(--blue);
}   
.guide-array > div:nth-of-type(4) {
    background-color: hotpink;
}   

.guide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 80px 2% 20px;
    gap: 20px;
}

.guide-content p {
    font-size: 20px;
    text-align: center;
    color: black !important;
}

.guide-content h3 {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}

.inline-code {
    font-family: "Source Code Pro", monospace;
    background-color: rgba(0 0 0 / 0.2);
    padding: 5px;
    border-radius: 5px;
    font-size: inherit;
}

.code-hover {
    transition: translate 0.25s ease, box-shadow 0.25s ease;
}

.code-hover:hover {
    box-shadow: none;
    translate: 0 5px;
}

.random-url {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
}

.random-url .code {
    width: 100%;
}

.random-url .code {
    padding-right: 0 !important;
}

.random-url button {
    width: 200px;
    position: relative;
    padding: 20px 10px;

}

.random-url button i {
    font-size: 28px;
}

.random-url button .button-content {
    display: flex;
    padding: 0;
    white-space: nowrap;
    justify-content: space-evenly;
}

#random-fox {
    min-height: 100vh;
    justify-content: flex-start;
}

.fox-image {
    margin: 0 auto;
}

.fox-image img#random-fox-image {
    opacity: 1;
    width: unset;
    height: unset;
    max-height: 90vh;
    max-width: 90%;
    rotate: 0deg;

}


@media only screen and (max-width: 768px) {
    .random-url {
        flex-direction: column;
    }

    .guide-array {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .guide-array > * {
        translate: -0.5% 0;
    }

    .code {
        padding: 20px 5px;
        letter-spacing: 1px;
        font-size: 16px;
        width: calc(100%);
    }

    .code p.trunc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        direction: rtl;
        text-align: left;
    }

    .code p.trunc::before {
        content: "";
    }

    .code p.trunc::after {
        content: " <";
        color: #ccc;
    }

    .fox-image img.fox {
        width: 300px;
        height: 450px;
    }

    .guide-content {
        padding: 80px 5% 20px;
    }

    .guide-card {
        height: fit-content;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}